---
layout: default.hbs
---
    {{#each pages}}

    {{#if category}}
        <a href="/{{this.basename}}.html">
        {{data.title}}
        <time datetime="{{add_date this.src}}" pubdate="{{add_date this.src}}">{{add_date this.src}}</time></a>
    {{/if}}

    {{/each}}
</section>
