---
layout: default.hbs
---
<article>
    <header class="article-header row">
        <h1><a href="/{{page.basename}}">{{page.title}}</a></h1>
        <time title="{{add_sha page.src}}" datetime="{{add_date page.src}}" pubdate="{{add_date page.src}}">{{add_date page.src}}</time>
    {{> git_info }}
    </header>
    <hr>
    {{#markdown}}
    {{>body}}
    {{/markdown}}
</article>
